.jumbotron {
   text-align: center;
   background-color: #f4be41;
}

#textbox {
    display: inline-block
}

.text {
    position: center;
    vertical-align: middle;
    text-align: center;
    padding-left: 5em;
}

div .container {
        background-color: lightgrey;
}

body {
    color: #41bef4;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}
